.container {
  display: flex;
  flex-direction: column;
}

.id {
  line-height: 1.75;
  color: var(--es-foreground);
}

.title {
  font-size: var(--es-text-xs);
  color: var(--es-muted-foreground);
}
